body{
	background: #F5EED7;
	text-align: center;

    font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 16px;
	letter-spacing: 0.5px;
}

.svg-header{
	background: #B73A3A;
	fill: #F5EED7;
	padding: 64px;
	width: 100%;
}

.intro_text{
	width: 100%;
	padding: 64px;
	margin: -6px 0 0 0;
	background: var(--on-background);
	color: var(--background);
}
.intro_text .inner{
	display: inline-block;
	width: auto;
	max-width: 100%;
	margin: 0 auto;
	text-align: left;
}


.footer{
	padding: 64px 64px 0 64px;
}
.footer_logos{
	padding: calc(32px - 8px) 32px calc(64px - 8px) 32px;
}
.footer_logos img{
	height: 64px;
	margin: 8px 32px;
}

a,
a:visited{
	color: #B73A3A;
	text-decoration: none;
}
a:hover{
	color: #B73A3A;
	text-decoration: underline;
}

h1,
.h1{
	font-family: 'Playfair Display', serif;
	font-weight: lighter;
	font-size: 99px;
	letter-spacing: -1.5px;
}

h2,
.h2{
	font-family: 'Playfair Display', serif;
	font-weight: lighter;
	font-size: 62px;
	letter-spacing: -0.5px;
}

h4,
.h4{
	font-family: 'Playfair Display', serif;
	font-weight: normal;
	font-size: 35px;
	letter-spacing: 0.25px;
}