* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Petrona", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.marker-inner {
  transform: scale(0.8);
  transition: transform 0.2s ease-in-out;
}
.hover .marker-inner {
  transform: scale(1);
}



.map-container{
	z-index: 2;
	position: relative;
  width: 100%;
	height: 500px;
  overflow: hidden;
	border-radius: 16px;
  padding: 0px;
}
.map-container:before{
	z-index: 3;
	content: "";
	position: absolute;
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	pointer-events: none;
	border: 3px solid var(--background);
	box-sizing: border-box;
	opacity: 0.9;
	border-radius: 14px;
  pointer-events: none;
}
.map-container:after{
	z-index: 3;
	content: "";
	position: absolute;
	top: 7px;
	right: 7px;
	bottom: 7px;
	left: 7px;
	pointer-events: none;
	border: 2px solid var(--background);
	box-sizing: border-box;
	opacity: 0.8;
	border-radius: 9px;
  pointer-events: none;
}
